<footer class="border-top bg-dark text-white text-center  py-3">
    <div class="container">
        &copy; 2024 - ePizzaHub.com All Rights Reserved - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:aliceblue;">Developed & Maintained by Kd Soft Pvt. Ltd. BURHAR </a>
    </div>
</footer>