<div class="loader center-loader" id="loader" style="visibility:hidden">
    <div class="dots">
        <span style="background-color:black ;"></span>
        <span style="background-color:blue;"></span>
        <span style="background-color:chartreuse;"></span>       
        <span style="background-color:blueviolet;"></span>

    </div>

</div>