<a style="display: block; position: fixed; right: 20px; bottom: 80px; z-index: 1; background-color:#41ef1f;color:rgb(50 9 179);border-color:#41ef1f;border-radius:0px;" onmouseover="this.style.backgroundColor='rgb(42 255 0)';" onmouseout="this.style.backgroundColor='#41ef1f';" id="view-cart" class="col-sm btn  pt-2" href="/Cart">
    <span id="cartCounter2" class="ms-2">0</span>
    <i class="bi bi-cart3"></i> &nbsp; View Cart


</a>