@model ePizzaHub.UI.Models.ChangePasswordVM
@{
    ViewData["Title"] = "Change Password";
}



<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4 class="mt-5">Create New Password</h4>
        <form asp-action="ChangePassword" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mt-2">
                <input asp-for="Password" class="form-control" placeholder="" />
                <label asp-for="Password" class="control-label"></label>

            </div>
            <div class="form-floating mt-2">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="" />
                <label asp-for="ConfirmPassword" class="control-label"></label>

            </div>
            <input type="hidden" asp-for="Email" />
            <div class="form-group d-grid mt-2">
                <input style="font-size:x-large;" type="submit" value="Save" class="btn btn-dark btn-block btn-lg py-2" />
               
            </div>
        </form>
    </div>
</div>



@section scripts {
    <partial name="_ValidationScriptsPartial" />


}


